<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>210246791956-v3lf5ul7n7puccdtlc9s1gd3gmqe64nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210246791956-v3lf5ul7n7puccdtlc9s1gd3gmqe64nh</string>
	<key>API_KEY</key>
	<string>AIzaSyBOaWdv7xRQO6Eno44Y6zEw9na30ewrH38</string>
	<key>GCM_SENDER_ID</key>
	<string>210246791956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeschool.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram101</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210246791956:ios:c0bddbf2b4157008</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram101.firebaseio.com</string>
</dict>
</plist>